HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

comly-web/node_modules
comly-web/.pnp
comly-web/.pnp.js
agular-web# testing
comly-web/coverage

comly-web/build
comly-web/.DS_Store
comly-web/.env.local
comly-web/.env.development.local
comly-web/.env.test.local
comly-web/.env.production.local
comly-web/npm-debug.log*
comly-web/yarn-debug.log*
comly-web/yarn-error.log*

